<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.BuyerMapper">
	<resultMap type="BuyerVO" id="buyerMap" autoMapping="true">
		<id property="buyerId" column="BUYER_ID"/>
		
		<association property="lprod" javaType="LprodVO" autoMapping="true"/>
		
		<collection property="prodList" javaType="list" ofType="ProdVO">
			<id property="prodId" column="PROD_ID"/>
			<result property="prodName" column="PROD_NAME"/>
			<result property="prodCost" column="PROD_COST"/>
			<result property="prodPrice" column="PROD_PRICE"/>
		</collection>
	</resultMap>
	<select id="selectBuyer" parameterType="String" resultMap="buyerMap">
		WITH BUYERVIEW AS (
			SELECT 
			BUYER_ID
		, BUYER_NAME
		, LPROD_GU
		, BUYER_BANK
		, BUYER_BANKNO
		, BUYER_BANKNAME
		, BUYER_ZIP
		, BUYER_ADD1
		, BUYER_ADD2
		, BUYER_COMTEL
		, BUYER_FAX
		, BUYER_MAIL
		, BUYER_CHARGER
		, BUYER_TELEXT
		, LPROD_NAME
			FROM BUYER NATURAL JOIN LPROD
			WHERE BUYER_ID = #{BUYER_ID}
		)
		SELECT
			BUYERVIEW.*
		, PROD_ID
		, PROD_NAME
		, PROD_COST
		, PROD_PRICE
		FROM BUYERVIEW LEFT OUTER JOIN PROD ON (BUYERVIEW.BUYER_ID = PROD.BUYER_ID)
	</select>
	
	<select id="selectBuyerList" resultMap="buyerMap">
		WITH BUYERVIEW AS (
			SELECT 
			BUYER_ID
		, BUYER_NAME
		, LPROD_GU
		, BUYER_BANK
		, BUYER_ADD1
		, BUYER_COMTEL
		, BUYER_CHARGER
		, LPROD_NAME
			FROM BUYER NATURAL JOIN LPROD
		)
		SELECT
			BUYERVIEW.*
		, PROD_ID
		, PROD_NAME
		, PROD_COST
		, PROD_PRICE
		FROM BUYERVIEW LEFT OUTER JOIN PROD ON (BUYERVIEW.BUYER_ID = PROD.BUYER_ID)
	</select>
	
	<insert id="insertBuyer" parameterType="BuyerVO">
	<selectKey resultType="String" keyProperty="buyerId" order="BEFORE">
		SELECT
			#{lprodGu} ||
			LPAD(NVL(TO_NUMBER(SUBSTR(MAX(BUYER_ID), LENGTH(#{lprodGu})+1)), 0) + 1, 2, '0')
		FROM BUYER
		WHERE LPROD_GU = #{lprodGu}
	</selectKey>
	INSERT INTO BUYER (
		BUYER_ID,
		BUYER_NAME,
		LPROD_GU,
		BUYER_BANK,
		BUYER_BANKNO,
		BUYER_BANKNAME,
		BUYER_ZIP,
		BUYER_ADD1,
		BUYER_ADD2,
		BUYER_COMTEL,
		BUYER_FAX,
		BUYER_MAIL,
		BUYER_CHARGER,
		BUYER_TELEXT
	) VALUES (
		#{buyerId},
		#{buyerName},
		#{lprodGu},
		#{buyerBank},
		#{buyerBankno},
		#{buyerBankname},
		#{buyerZip},
		#{buyerAdd1},
		#{buyerAdd2},
		#{buyerComtel},
		#{buyerFax},
		#{buyerMail},
		#{buyerCharger},
		#{buyerTelext}
	)
	</insert>
	
	<update id="updateBuyer" parameterType="BuyerVO">
	UPDATE BUYER
	SET
		BUYER_ADD1=#{buyerAdd1},
		BUYER_ADD2=#{buyerAdd2},
		BUYER_COMTEL=#{buyerComtel},
		BUYER_FAX=#{buyerFax},
		BUYER_MAIL=#{buyerMail},
		BUYER_CHARGER=#{buyerCharger},
		BUYER_TELEXT=#{buyerTelext},
		BUYER_BANK=#{buyerBank},
		BUYER_BANKNO=#{buyerBankno},
		BUYER_BANKNAME=#{buyerBankname},
		BUYER_ZIP=#{buyerZip}
	WHERE BUYER_ID=#{buyerId}
	</update>
	
</mapper>